body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    font-family: Bahnschrift;

}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid gray;
}
th,td{
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255,0.7);
}
.header{
    height: 150px;
}
.selection{

}
input[type=text] {
	width: 20em;
	padding: 10px;
	margin: 10px 10px 0px 10px;
}
input[type=text]:focus {
  	border: 1px solid #555;
	padding: 10px;
	margin: 10px 10px 0px 10px;
}
.btn-large{
	width: 21.8em;
	padding: 10px;
	margin: 10px;
}
.tt,.sub_inner,.header,#out{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.tt{padding-bottom: 20px;
padding-top: 20px;}
#out{
    padding: 20px;
    font-size: large;
}